{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'assets/css/table.css' %}">
</head>
    <section id="events" style="margin-top: 50px;">
        <h2>View Events</h2>
        <table class="events-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Photo</th>
                    <th>Entry Time</th>
                    <th>Exit Time</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td><img src="{% static '/events/'%}{{ row.1 }}" alt="Event Photo"></td>
                        <td>{{ row.2 }}</td>
                        <td>{{ row.3 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}