{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'assets/css/recordings.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/table.css' %}">
</head>

<section id="recordings">
    <div class="recordings-container">
        <h2>🎦 Recordings</h2>
        <table class="events-table">
            <thead>
                <tr>
                    <th>Url</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for url in rec_arr %}
                    <tr>
                        <td>{{ url }}</td>
                        <td>
                            <a href="http://127.0.0.1:8000/view_video/{{ url }}" class="">Watch</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
